<!-- https://yeshwanth581.github.io/profile/#home -->

<div class="div-component">
  <div class="component-title">About</div>

  <div class="component-body flex-row">
    <div class="div-left">
      <div>
        Personal
      </div>
      <div class="div-field">
        <div class="field-name">
          Name
        </div>
        <div class="field-value">
          SriMaharshi Manchem
        </div>
      </div>

      <div class="div-field">
        <div class="field-name">
          Date of Birth
        </div>
        <div class="field-value">
          02-August-1992
        </div>
      </div>

      <div class="div-field">
        <div class="field-name">
          Place of Birth
        </div>
        <div class="field-value">
          Visakhapatnam, Andhra Pradesh, India
        </div>
      </div>

      <div class="div-field">
        <div class="field-name">
          Current Location
        </div>
        <div class="field-value">
          Hyderabad, Telangana, India
        </div>
      </div>
      <div class="div-field">
        <div class="field-name">
          Address
        </div>
        <div class="field-value">
          Flat no. 101, Avishkar Apartment <br />
          Rock View Valle, Indira Nagar <br />
          Hyderabad - 500032
        </div>
      </div>
    </div>

    <div class="div-right">
      <div>
        Social
      </div>
      <div class="div-field">
        <div class="field-name">
          Call
        </div>
        <div class="field-value">
          9502244593
        </div>
      </div>
      <div class="div-field">
        <div class="field-name">
          Email
        </div>
        <div class="field-value">
          manchemsrimaharshi@gmail.com
        </div>
      </div>

      <div class="field-name">
        Social
      </div>

      <div class="field-name">
        <a href="https://github.com/email2rishi13" target="_blank">
          <img class="social-icons" src="../../../../assets/github.svg"/>
        </a>
        <a
          href="https://www.linkedin.com/in/srimaharshi-manchem-7777104b"
          target="_blank">
          <img class="social-icons" src="../../../../assets/linkedin.svg" />
        </a>
        <img class="social-icons" src="../../../../assets/facebook.svg" />
        <img class="social-icons" src="../../../../assets/twitter.svg" />
      </div>
    </div>
  </div>
</div>
