

.div-table{
  padding: 0px 0px;
}

table {
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

.div-field{
  margin: 10px 0px 20px 0px;
}

.field-name{
  font-size: 16px;
  font-weight: bold;
}

.field-value{
  font-size: 14px;
  font-weight: 400;
}
