<div>My Education details</div>
<div class="div-table">
  <table>

      <tr>
          <th>Education</th>
          <th>Percentage/ CGPA</th>
          <th>Year</th>
        </tr>
        <tr>
          <td>SSC</td>
          <td>80.16 %</td>
          <td>2007</td>
        </tr>
        <tr>
          <td>Intermediate</td>
          <td>85 %</td>
          <td>2009</td>
        </tr>
        <tr>
          <td>B.Tech ( ECE )</td>
          <td>7.1 CGPA</td>
          <td>2013</td>
        </tr>

  </table>
</div>
