<div class="div-component">

  <div class="component-title">My Education details</div>
  <div class="div-table">
    <table class="shadow-effect">

        <tr>
            <th>Education</th>
            <th>Percentage/ CGPA</th>
            <th>Year</th>
          </tr>
          <tr>
            <td>SSC</td>
            <td>80.16 %</td>
            <td>2007</td>
          </tr>
          <tr>
            <td>Intermediate</td>
            <td>85 %</td>
            <td>2009</td>
          </tr>
          <tr>
            <td>B.Tech ( ECE )</td>
            <td>7.1 CGPA</td>
            <td>2013</td>
          </tr>

    </table>
  </div>


  <div class="div-field">
    <div class="field-name">
      Secondary School Certificate
    </div>
    <div class="field-value">
      Aditya IIT Talent School, Kakinada
    </div>
  </div>
  <div class="div-field">
    <div class="field-name">
      Higher Secondary Certificate
    </div>
    <div class="field-value">
      Narayana Junior College, Hyderabad
    </div>
  </div>
  <div class="div-field">
    <div class="field-name">
      Bachelors of Technology in Electronics and Communication Engineering
    </div>
    <div class="field-value">
      SRM University, Chennai
    </div>
  </div>

</div>
