<div *ngIf="false then hello"></div>


<div [@openClose]="isOpen ? 'open' : 'closed'" class="open-close-container">
  <p>The box is now {{ isOpen ? 'Open' : 'Closed' }}!</p>
</div>
<button (click)="toggle()">Click</button>
<div *ngIf="false then hello"></div>


<div [@openClose]="isOpen ? 'open' : 'closed'" class="open-close-container">
  <p>The box is now {{ isOpen ? 'Open' : 'Closed' }}!</p>
</div>
<button (click)="toggle()">Click</button>
<div *ngIf="false then hello"></div>


<div [@openClose]="isOpen ? 'open' : 'closed'" class="open-close-container">
  <p>The box is now {{ isOpen ? 'Open' : 'Closed' }}!</p>
</div>
<button (click)="toggle()">Click</button>
<div *ngIf="false then hello"></div>


<div [@openClose]="isOpen ? 'open' : 'closed'" class="open-close-container">
  <p>The box is now {{ isOpen ? 'Open' : 'Closed' }}!</p>
</div>
<button (click)="toggle()">Click</button>
<div *ngIf="false then hello"></div>


<div [@openClose]="isOpen ? 'open' : 'closed'" class="open-close-container">
  <p>The box is now {{ isOpen ? 'Open' : 'Closed' }}!</p>
</div>
<button (click)="toggle()">Click</button>
<div *ngIf="false then hello"></div>


<div [@openClose]="isOpen ? 'open' : 'closed'" class="open-close-container">
  <p>The box is now {{ isOpen ? 'Open' : 'Closed' }}!</p>
</div>
<button (click)="toggle()">Click</button>
<div *ngIf="false then hello"></div>


<div [@openClose]="isOpen ? 'open' : 'closed'" class="open-close-container">
  <p>The box is now {{ isOpen ? 'Open' : 'Closed' }}!</p>
</div>
<button (click)="toggle()">Click</button>
<div *ngIf="false then hello"></div>

<ng-template #hello></ng-template>
<div [@openClose]="isOpen ? 'open' : 'closed'" class="open-close-container">
  <p>The box is now {{ isOpen ? 'Open' : 'Closed' }}!</p>
</div>
<button (click)="toggle()">Click</button>
