<div class="div-component" style="padding-top: 40px !important;">
  <div class="self-intro">
    <div class="name">SriMaharshi Manchem</div>
    <div class="self-tags">
      Loves to be called as Technocrat
    </div>
    <div class="self-tags">
      Passion in solving problems which can help anyone in any scale of magnitude
    </div>
    <div class="self-tags">
      Started as Android native app developer
    </div>
    <div class="self-tags">
      Primarily skilled in Web App developement

    </div>

    <div class="self-tags">
      Well balanced in Front end and Back end development
    </div>
  </div>
</div>
