<div class="div-component">
  <div class="component-title">Utilities</div>

  <div class="component-body flex-row">
    <div>Utilites used across all the technologies.</div>

    <div>
      Version control systems
    </div>
    <div>
      Git
      <ul>
        <li>Remote: Github</li>
        <li>Remote: Atlassian</li>
      </ul>
    </div>
    <div>
      Rest API
      <ul>
        <li>Soap UI</li>
        <li>Postman</li>
        <li>Adavnced Rest Client</li>
      </ul>
    </div>
    <div>
      Jira - Sprint planning and follow up tool.
    </div>

    <div>
      JSON Formatter - https://jsonformatter.curiousconcept.com/.
    </div>

    <div>
      Open Source Fonts
      <ul>
        <li>
            https://fontawesome.com/
        </li>
      </ul>
    </div>
  </div>
</div>
